<!-- contacts.html -->
{% extends 'blog/base.html' %}

{% load widget_tweaks %}

{% block title %}post_form{% endblock %}

{% block page_name %}
    {% if object %}
        <h1>{{ object.title }}</h1>
    {% else %}
        <h1>Новый пост</h1>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Форма поста</h4>
        </div>
        <div class="card-body">
            <form id="myForm" method="post" action="" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-group mt-4">
                    <button type="submit" class="p-2 bd-highlight btn btn-sm btn-primary">Сохранить</button>
                    {% if object %}
                        <a type="button" class="p-2 bd-highlight btn btn-sm btn-outline-secondary" href="{% url 'blog:post_detail' object.pk %}">Отменить</a>
                    {% else %}
                        <a type="button" class="p-2 bd-highlight btn btn-sm btn-outline-secondary" href="{% url 'blog:posts_list' %}">Отменить</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}