<!-- posts_list.html -->
{% extends 'base.html' %}

{% block title %}Products_list{% endblock %}

{% block page_name %}
    <h1>Блог</h1>
{% endblock %}

{% block content %}
    <div class="col-lg-12 mb-5">
        <a class="btn btn-secondary" href="{% url 'blog:post_create' %}">Создать</a> Создать новую статью для блога
    </div>
    {% for post in posts %}
      <div class="col-lg-4">
          <div class="card shadow-sm">
              {% if post.image %}
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ post.image.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
              {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              {% endif %}

            <div class="card-body">

                <p class="card-text">{{ post.title }}</p>

                <div class="d-flex flex-row-reverse bd-highlight">
                    <small class="text-muted">{{ post.created_at|date:"d M Y" }}</small>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'blog:post_detail' post.id %}">Отрыть</a>
                    </div>
                    <small class="text-muted">Просмотров: {{ post.views_counter }}</small>
                </div>
            </div>
          </div>

      </div><!-- /.col-lg-4 -->

    {% endfor %}
{% endblock %}