<!-- featurettes.html -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Лучшие предложения на рынке. <span class="text-muted">Для каждого клиента</span></h2>
        <p class="lead">Самый большой выбор товаров от лучших поставщиков</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/featurette-divider/img.png"
           alt="Изображение"
           width="500"
           height="500"
           class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Установка систем любой сложности. <span class="text-muted">Обслуживание и масштабирование.</span></h2>
        <p class="lead">Создание систем, составление проектов, гарантия и обслуживание оборудования</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/featurette-divider/img_1.png"
           alt="Изображение"
           width="500"
           height="500"
           class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
    <!-- /END THE FEATURETTES -->