<!-- modul_contacts.html -->
<!-- Модальное окно подтверждения -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Успех</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Ваша сообщение успешно отправлено!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>