<!-- home.html -->
{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Home{% endblock %}

{% block page_name %}
    <h1>Главная</h1>
{% endblock %}

{% block content %}
    {% for product in page_obj %}

      <div class="col-lg-4">
          {% if product.image %}
              <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ product.image.url }}"/>
          {% else %}
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          {% endif %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description|truncatechars:100 }}</p>
        <p><a class="btn btn-secondary" href="{% url 'catalog:product_info' product.id %}">Подробнее &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    {% endfor %}

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
          {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
          {% endif %}

          {% if page_obj.has_previous %}
                <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
          {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page=">{{ page_obj.number }}</a></li>
                <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
          {% endif %}

          {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
          {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          {% endif %}
        </li>
      </ul>
    </nav>

    {% include 'catalog/includes/featurettes.html' %}
{% endblock %}