<!-- products_list.html -->
{% extends 'base.html' %}

{% block title %}Products_list{% endblock %}

{% block page_name %}
    <h1>Товары</h1>
{% endblock %}

{% block content %}

    {% include 'catalog/includes/filter_panel.html' %}

    {% for product in products %}
        {% if product.is_publication %}
          <div class="col-lg-4">
              {% if product.image %}
                  <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ product.image.url }}"/>
              {% else %}
                  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              {% endif %}
            <h2>{{ product.name }}</h2>
            <p>{{ product.description|truncatechars:100 }}</p>
            <p><a class="btn btn-secondary" href="{% url 'catalog:product_detail' product.id %}">Подробнее &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        {% endif %}
    {% endfor %}

    {% if 'catalog.can_unpublish_product' in perms %}
        {% for product in products %}
            {% if product.is_publication == False %}
              <div class="col-lg-4">
                  {% if product.image %}
                      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ product.image.url }}"/>
                  {% else %}
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                  {% endif %}
                <h2>{{ product.name }}</h2><span class="badge bg-danger rounded-pill">Не публикуется</span>
                <p>{{ product.description|truncatechars:100 }}</p>
                <p><a class="btn btn-secondary" href="{% url 'catalog:product_detail' product.id %}">Подробнее &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}